
<app-navb></app-navb>
<app-header></app-header>
<div class="video">
  <div class="row">
    <div class="col-md-7">
<iframe width="570" height="315" src="https://www.youtube.com/embed/P-vaEHy_31E"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
</div>
<div class="col-md-4">
  <h1> A Glimpse de Tour!</h1>
  <h4>To enjoy the memories of Childhood with the little Ash inside your heart, Here Comes Pikachu to embark on a new Adventure on board.</h4>
</div>
</div>
</div>
<div class="parallax"></div>
<app-subnav></app-subnav>
<app-access></app-access>
<div class="row">
  <div class="col-md-6" id="ref-main">
    <a href="https://www.pokemon.co.jp" target="blank"><img class="ref" src="https://www.pokemoncenter-online.com/cafe/common/img/footer_link_01.png" alt="www.pokemon.co.jp"/></a>
    <a href="https://www.pokemoncenter-online.com" target="blank"><img class="ref" src="https://www.pokemoncenter-online.com/cafe/common/img/footer_link_07.png" alt="www.pokemoncenter-online.com"/></a>
    <a href="https://www.pokemon.jp" target="blank"><img class="ref" src="https://www.pokemoncenter-online.com/cafe/common/img/footer_link_02.png" alt="www.pokemon.jp"/></a>
    <a href="https://www.pokemon-card.com" target="blank"><img class="ref" src="https://www.pokemoncenter-online.com/cafe/common/img/footer_link_03.png" alt="www.pokemon-card.com"/></a>
    <a href="http://voice.pokemon.co.jp/stv/" target="blank"><img class="ref" src="https://www.pokemoncenter-online.com/cafe/common/img/footer_link_05.png" alt="www.pokemon.co.jp/stv/"/></a>
    <a href="http://www.pokemon.co.jp/withU/" target="blank"><img class="ref" src="https://www.pokemoncenter-online.com/cafe/common/img/footer_link_06.png" alt="www.pokemon.co.jp/withU/"/></a>
  </div>
  </div>
<app-footer></app-footer>

