<nav class="navbar navbar-expand-lg container-">

    <a href=""><img src="./assets/images/pokecafe.png"  class="logo"/></a>
    <a class="logo-img" href="www.pokemon.com"><img src="./assets/images/pokesweets.png" class="logo"/></a>
    <span class="right">
      <a class="anchor" href="menu">MENU</a>&nbsp;
      <a class="anchor" href="goods">GOODS</a>&nbsp;
      <a class="anchor" href="news">NEWS</a>&nbsp;
      <a class="anchor" href="faq">FAQ Asked</a>&nbsp;
      <a class="go" href="login">Reservation</a>&nbsp;
    </span>

</nav>


