.container {
  transform: translateY(50%);
  max-width: 300px;
  padding: 5px;
}
body {
  background-image: url("https://www.pokemoncenter-online.com/cafe/common/img/bg_menu.jpg");
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.matcc {
  background-color: rgba(255,255,255,0.9);
}

