<div class="container">
  <div class="location-head">
    <h5>Pokémon Cafe requires advance reservations.</h5>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
        <div class="col-sm-3"><img src="https://www.pokemoncenter-online.com/cafe/common/img/siteimg.png"/></div>
        <div class="col-md-8">
        <span><h6>Pokemon Cafe (Nihombashi, Tokyo)</h6>
          <p>Nihombashi Takashimaya Shopping Center<br/>
          2-4-1 Nihombashi, Chuo-ku, Tokyo 103-8265<br/>
          Phone: +81-3-6262-3439<br/>
          Email: pokemon-cafe-cs@sld-inc.com</p></span>
        </div>
      </div>
      <div class="row time">
        <div>
          <p class="time">&emsp;Open hours:&nbsp;&nbsp;10:30 am to 10:00 pm (on a reservation basis)</p>
          <p class="time">&emsp;Last orders:&nbsp;&nbsp;	Food & sweets 9:00 pm <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;Drinks 9:30 pm</p>
        </div>
    </div>
      </div>
      <div class="col-md-6">
        <div class="row">
        <div class="col-sm-3"><img src="https://www.pokemoncenter-online.com/cafe/common/img/siteimg.png"/></div>
        <div class="col-md-8">
        <span><h6>Pokémon Cafe (Shinsaibashi, Osaka)</h6>
          <p>Daimaru Shinsaibashi Store, Main Building 9F,<br/>
            1-7-1, Shinsaibashisuji, Chuo-ku, Osaka-shi, Osaka Pref., 542-8501<br/>
            Phone: +81-6-4256-1160<br/>
            Email: pokemon-cafe-osaka-cs@sld-inc.com</p></span>
        </div>
      </div>
      <div class="row time">
        <div>
          <p class="time">&emsp;Open hours:&nbsp;&nbsp;10:00 am to 9:30 pm (on a reservation basis)</p>
          <p class="time">&emsp;Last orders:&nbsp;&nbsp;	Food, sweets and drinks 8:50 pm</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
