<div>
  <div class="slideshow-container" >
    <div class="myShow">
    <div class="mySlides fade " *ngIf="head1==true">
      <img src="./assets/images/head1.jpg" style="max-width:100%">
    </div>

    <div class="mySlides fade " *ngIf="head2==true">
      <img src="./assets/images/head2.jpg" style="max-width:100%">
    </div>
    </div>
    <div class="banner">
      <h3 class="heading">CONCEPT</h3><br/>
      <p class="sub">Permanent “Pokemon Official Cafe”, the first in Pokemon history.<br/>
        You can enjoy a cute cafe and sweets menu full of originality in a stylish wood-style shop.<br/><br/>
        By all means, please enjoy the irreplaceable time for everyone who visits to be surrounded by your favorite Pokemon.</p><br/>
      </div>
      </div>
    </div>
